[Unit]
Description=Guix build daemons

[Service]
Type=forking
PIDFile=/var/run/guixd.pid
EnvironmentFile=/etc/conf.d/guix
ExecStart=/usr/bin/guix-daemon --cores $GUIX_BUILDER_CORES --build-users-group $GUIX_BUILDER_GROUP 

[Install]
WantedBy=multiuser.target
